* {
  box-sizing: border-box;
}

.gestODeProcessosLexC {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background: #f7f9fb;
  padding-left: 280px;
  width: 1280px;
  height: 1082px;
  min-height: 1082px;

  .prXimasAudiNcias {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 24px;
    letter-spacing: 0;
    color: #131b2e;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .container3 {
    flex-shrink: 0;
    width: 16px;
    height: 20px;
  }

  .mainContentArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;

    .container4 {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }

    .text2 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: #45464d;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .headerTopAppBarShare {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      z-index: 2;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: #e2e8f0;
      background: #ffffff;
      padding: 16px 32px 15px;

      .container2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 24px;

        .text {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #1e3a8a;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .backgroundBorder {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 1px;
          border: 1px solid #c6c6cd4d;
          border-radius: 12px;
          background: #eceef0;
          padding: 7px 15px;

          .margin {
            flex-shrink: 0;
            width: 23px;
            height: 15px;
          }

          .container {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            padding: 10px 12px;
            overflow: hidden;

            .pesquisarNMeroClient {
              flex-shrink: 0;
              align-self: stretch;
              letter-spacing: 0;
              color: #6b7280;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }
      }

      .container5 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 16px;

        .verticalBorder {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          border-width: 0px 0px 0px 1px;
          border-style: solid;
          border-color: #e2e8f0;
          padding-left: 15px;

          .button {
            display: inline-flex;
            position: relative;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            padding: 8px;

            .background {
              position: absolute;
              top: 8px;
              right: 8px;
              flex-shrink: 0;
              border-radius: 12px;
              background: #ba1a1a;
              width: 8px;
              height: 8px;
            }
          }

          .button2 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            padding: 8px;
          }

          .userProfileAvatar {
            flex-shrink: 0;
            border: 2px solid #dbe1ff;
            border-radius: 12px;
            width: 40px;
            height: 40px;
            overflow: hidden;
            background-image: url(../image/mpnebo61-gxge2e4.png);
            background-position: 0px 0px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 1px 2px #0000000d);
          }
        }
      }
    }

    .canvas {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      z-index: 1;
      padding: 32px 32px 56px;
      row-gap: 32px;

      .statsBentoGrid {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;

        .container7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-top: 16px;

          .tOtalativos {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #45464d;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            text-transform: UPPERCASE;
          }

          .a1284 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 24px;
            letter-spacing: 0;
            color: #1e3a8a;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }

        .backgroundBorderShad {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          border: 1px solid #e2e8f0;
          border-radius: 8px;
          box-shadow: 0px 1px 2px 0px #0000000d;
          background: #ffffff;
          padding: 23px;
          width: 222px;
          min-width: 222px;

          .container6 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            margin-right: 2px;

            .overlay {
              flex-shrink: 0;
              border-radius: 4px;
              width: 38px;
              height: 32px;
            }

            .text3 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: #10b981;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }

        .backgroundBorderShad2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          border: 1px solid #e2e8f0;
          border-radius: 8px;
          box-shadow: 0px 1px 2px 0px #0000000d;
          background: #ffffff;
          padding: 23px;
          width: 222px;
          min-width: 222px;

          .container8 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            margin-right: 2px;

            .overlay2 {
              flex-shrink: 0;
              border-radius: 4px;
              width: 35px;
              height: 37px;
            }
          }
        }

        .backgroundShadow {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 8px;
          box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
          background: #131b2e;
          padding: 24px;
          overflow: hidden;

          .abstractBackgroundPa {
            position: absolute;
            right: -64px;
            bottom: -64px;
            flex-shrink: 0;
            border-radius: 12px;
            background: #316bf333;
            width: 192px;
            height: 192px;
            filter: blur(32px);
          }

          .container9 {
            position: absolute;
            top: 16px;
            right: 48px;
            flex-shrink: 0;
            z-index: 1;
            width: 90px;
            height: 95px;
          }

          .container11 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            z-index: 2;
            row-gap: 8px;

            .container10 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding-bottom: 8px;
              width: 280px;

              .text4 {
                flex-shrink: 0;
                width: 277px;
                line-height: 24px;
                letter-spacing: 0;
                color: #7c839b;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }
            }

            .button3 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              margin-right: 198px;
              border-radius: 4px;
              background: #316bf3;
              padding: 8px 24px;

              .text5 {
                flex-shrink: 0;
                line-height: 24px;
                letter-spacing: 0;
                color: #fefcff;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }
            }
          }
        }
      }

      .tableControlsAdvance {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border: 1px solid #e2e8f0;
        border-radius: 8px;
        box-shadow: 0px 1px 2px 0px #0000000d;
        background: #ffffff;

        .text8 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .horizontalBorder {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: #e2e8f0;
          padding: 16px 16px 15px;

          .container13 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 12px;

            .image {
              flex-shrink: 0;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }

            .button4 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border: 1px solid #c6c6cd;
              border-radius: 4px;
              padding: 7px 15px;

              .container12 {
                flex-shrink: 0;
                width: 14px;
                height: 9px;
              }
            }

            .margin2 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding-right: 4px;
              padding-left: 4px;

              .verticalDivider {
                flex-shrink: 0;
                background: #e2e8f0;
                width: 1px;
                height: 24px;
              }
            }

            .imageClip {
              display: flex;
              position: relative;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              justify-content: center;
              padding: 8px 8px 8px 237px;
              overflow: hidden;

              .text6 {
                position: absolute;
                top: 8px;
                left: 12px;
                flex-shrink: 0;
                padding: 0px 74px 0px 0px;
                width: 217px;
                height: 24px;
                overflow: hidden;
                line-height: 24px;
                letter-spacing: 0;
                color: #45464d;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }
            }

            .options {
              position: relative;
              flex-shrink: 0;
              width: 186px;
              height: 40px;

              .imageClip2 {
                display: flex;
                position: absolute;
                top: 0;
                right: -1px;
                bottom: 0;
                left: 0;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 8px 8px 8px 154px;
                width: 186px;
                height: 40px;
                overflow: hidden;

                .text7 {
                  position: absolute;
                  top: 8px;
                  left: 12px;
                  flex-shrink: 0;
                  width: 134px;
                  height: 24px;
                  overflow: hidden;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #45464d;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }
            }
          }

          .container15 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 12px;

            .button5 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              padding: 8px;
            }

            .button6 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border-radius: 4px;
              background: #1e3a8a;
              padding: 8px 24px;

              .container14 {
                flex-shrink: 0;
                width: 14px;
                height: 14px;
              }
            }
          }
        }

        .dataTableTable {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          overflow: auto;

          .headerRow {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-color: #e2e8f0;
            background: #f2f4f6;

            .text9 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0.8px;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              text-transform: UPPERCASE;
            }

            .cell {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 16px 24px;
              width: 182px;
            }

            .text10 {
              flex-shrink: 0;
              padding: 26px 24px 27px;
              width: 196px;
              line-height: 20px;
              letter-spacing: 0.8px;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              text-transform: UPPERCASE;
            }

            .text11 {
              flex-shrink: 0;
              padding: 26px 24px 27px;
              width: 146px;
              line-height: 20px;
              letter-spacing: 0.8px;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              text-transform: UPPERCASE;
            }

            .cell2 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 16px 24px;
              width: 159px;
            }

            .text12 {
              flex-shrink: 0;
              padding: 26px 24px 27px;
              width: 144px;
              line-height: 20px;
              letter-spacing: 0.8px;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              text-transform: UPPERCASE;
            }

            .text13 {
              flex-shrink: 0;
              padding: 26px 24px 27px;
              width: 108px;
              text-align: center;
              line-height: 20px;
              letter-spacing: 0.8px;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              text-transform: UPPERCASE;
            }
          }

          .body {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-top: -1px;

            .text14 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0;
              color: #191c1e;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .text15 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .container16 {
              flex-shrink: 0;
              width: 4px;
              height: 16px;
            }

            .button7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: flex-end;
              padding: 35px 28px;
              width: 108px;
            }

            .data3 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 17px 24px;
              width: 146px;
            }

            .data2 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 27px 24px 27px 48px;
              width: 220px;
            }

            .data {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;

              .cV202400124 {
                flex-shrink: 0;
                align-self: stretch;
                letter-spacing: 0;
                color: #1e3a8a;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .entrada12Out2023 {
                flex-shrink: 0;
                align-self: stretch;
                letter-spacing: 0;
                color: #45464db2;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
              }
            }

            .data5 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 34px 24px;
              width: 144px;

              .overlayBorder {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 4px;
                border: 1px solid #10b98133;
                border-radius: 12px;
                background: #10b9811a;
                padding: 3px 11px;

                .background2 {
                  flex-shrink: 0;
                  border-radius: 12px;
                  background: #10b981;
                  width: 6px;
                  height: 6px;
                }

                .text18 {
                  flex-shrink: 0;
                  line-height: 15px;
                  letter-spacing: 0;
                  color: #10b981;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }
            }

            .row1 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              padding-right: 1px;
              padding-left: 24px;

              .data4 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 28px 24px;
                width: 159px;

                .paragraphBackground {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  margin-right: 40px;
                  border-radius: 12px;
                  background: #dae2fd;
                  padding: 4px 12px 4px 0px;

                  .text16 {
                    margin: 0px 0px 0px 12px;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #3f465c;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }

                  .text17 {
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #3f465c;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }
            }

            .row2 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              margin-top: -1px;
              border-width: 1px 0px 0px;
              border-style: solid;
              border-color: #e2e8f0;
              padding-right: 1px;
              padding-left: 24px;

              .text19 {
                flex-shrink: 0;
                padding: 37px 24px 37px 48px;
                width: 220px;
                line-height: 20px;
                letter-spacing: 0;
                color: #191c1e;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .data6 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 35px 24px;
                width: 159px;

                .background3 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  margin-right: 44px;
                  border-radius: 12px;
                  background: #d3e4fe;
                  padding: 4px 12px;

                  .text20 {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #38485d;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }

              .data7 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 34px 24px;
                width: 144px;

                .overlayBorder2 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 4px;
                  border: 1px solid #f59e0b33;
                  border-radius: 12px;
                  background: #f59e0b1a;
                  padding: 3px 11px;

                  .background4 {
                    flex-shrink: 0;
                    border-radius: 12px;
                    background: #f59e0b;
                    width: 6px;
                    height: 6px;
                  }

                  .text21 {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #f59e0b;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }
            }

            .row3 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              margin-top: -1px;
              border-width: 1px 0px 0px;
              border-style: solid;
              border-color: #e2e8f0;
              padding-right: 1px;
              padding-left: 24px;

              .data8 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 35px 24px;
                width: 159px;

                .background5 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  margin-right: 30px;
                  border-radius: 12px;
                  background: #dbe1ff;
                  padding: 4px 12px;

                  .text22 {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #003ea8;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }

              .data9 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 34px 24px;

                .overlayBorder3 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 4px;
                  border: 1px solid #45464d33;
                  border-radius: 12px;
                  background: #45464d1a;
                  padding: 3px 11px;

                  .background6 {
                    flex-shrink: 0;
                    border-radius: 12px;
                    background: #45464d;
                    width: 6px;
                    height: 6px;
                  }

                  .text23 {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #45464d;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }
            }

            .row4 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              margin-top: -1px;
              border-width: 1px 0px 0px;
              border-style: solid;
              border-color: #e2e8f0;
              padding-right: 1px;
              padding-left: 24px;

              .data10 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 27px 24px 26px 48px;
                width: 220px;
              }

              .data11 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 16px 24px;
                width: 146px;
              }

              .data12 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                padding: 35px 24px;
                width: 159px;

                .background7 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  margin-right: 1px;
                  border-radius: 12px;
                  background: #dae2fd;
                  padding: 4px 12px;

                  .text24 {
                    flex-shrink: 0;
                    line-height: 15px;
                    letter-spacing: 0;
                    color: #3f465c;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }
              }

              .button8 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: flex-end;
                padding: 35px 28px 34px;
                width: 108px;
              }
            }
          }
        }

        .pagination {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-width: 1px 0px 0px;
          border-style: solid;
          border-color: #e2e8f0;
          padding: 15px 24px 16px;

          .container18 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 8px;

            .container17 {
              flex-shrink: 0;
              width: 6px;
              height: 10px;
            }

            .button9 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              opacity: 0.5;
              border: 1px solid #e2e8f0;
              border-radius: 2px;
              padding: 7px;
            }

            .button10 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border-radius: 2px;
              background: #1e3a8a;
              width: 32px;
              height: 32px;
            }

            .text25 {
              flex-shrink: 0;
              padding: 4px 0px;
              width: 32px;
              height: 32px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: #191c1e;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .text26 {
              flex-shrink: 0;
              padding: 0px 8px;
              line-height: 24px;
              letter-spacing: 0;
              color: #45464d;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .button11 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border: 1px solid #e2e8f0;
              border-radius: 2px;
              padding: 7px;
            }
          }
        }
      }
    }
  }

  .asideSideNavBarShare {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 1px 2px 0px #0000000d;
    background: #131b2e;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 280px;
    height: 1082px;

    .text28 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: #7c839b;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .container19 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    .container21 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding: 0px 24px 32px;

      .background8 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        background: #131b2e;
        width: 40px;
        height: 40px;
      }

      .container20 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;

        .text27 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 15px;
          letter-spacing: 1px;
          color: #7c839b99;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          text-transform: UPPERCASE;
        }
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 8px;
      padding-left: 8px;
      row-gap: 4px;

      .link {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 8px;
        padding: 12px 16px;

        .container22 {
          flex-shrink: 0;
          width: 18px;
          height: 18px;
        }
      }

      .link2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 8px;
        padding: 12px 16px;

        .container23 {
          flex-shrink: 0;
          width: 22px;
          height: 16px;
        }
      }

      .linkActiveStateProce2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 8px;
        background: #316bf3;

        .linkActiveStateProce {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          box-shadow: 0px 10px 15px -3px #316bf333, 0px 4px 6px -4px #316bf333;
          background: #ffffff01;
          padding: 12px 137px 12px 16px;
          width: 264px;
          min-width: 264px;
          height: 48px;

          .container24 {
            width: 20px;
            height: 20px;
          }

          .text29 {
            line-height: 24px;
            letter-spacing: 0;
            color: #fefcff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }
      }

      .link3 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 8px;
        padding: 12px 16px;

        .container25 {
          flex-shrink: 0;
          width: 18px;
          height: 20px;
        }
      }

      .link4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 8px;
        padding: 12px 16px;
      }
    }

    .horizontalBorder2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-width: 1px 0px 0px;
      border-style: solid;
      border-color: #3f465c1a;
      padding: 23px 8px 0px;
      row-gap: 4px;

      .link5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 8px;
        padding: 12px 16px;
      }
    }
  }
}
